html {
    display: block;
    background-color:black;
    font-family: 'Anek Latin', sans-serif;
    color: white;
    
}
body {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}



h1 {
    text-align: center;
    background-color: black;
    color: white;
    font-weight: 700;
}

section {
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;

}

header {
    position: sticky;
    width: 100%;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    position:relative;
    margin: 0;
    margin-left: auto;
}

nav ul {
   vertical-align: bottom; 
   display: flex;

}


nav li {
    padding-left: 1rem;
    list-style-type: none;
    display: flex;
    color: white;
    
    
}

.current_page a {
    font-weight:700 ; 
    text-decoration: underline;
}

.new_page a:hover {
    font-weight:700;
}

main {
    display: block;
    position: relative;
    z-index: 1;
}



.Paragraph_block {
    background-color: white;
    color: black;
    box-sizing: border-box;
    border-width: 10px;
    margin-right:100px;
    border-radius:1%;
    margin-bottom: 50px;
    padding: 10px;
    text-align: center;
}


#Intro_text{
    position: relative;
    display: block;
    text-align: center;
    align-items: center;
    top:10px;
    margin-bottom: 50px;
   
}

#Assyrian1{
    position: absolute;
    height: 100px;
    width: 150px;
    top: 150px;
    right: 100px;
    transition: right;
    transition-duration: 2s;
    z-index: -1;
   
}


#Assyrian2{
    position: absolute;
    height: 100px;
    width: 75px;
    top: 250px;
    right: 100px;
    transition: right;
    transition-duration: 2s;
    z-index: -1;
   
}

#Raindrop{
    position: absolute;
    height: 100px;
    width: 150px;
    top: 775px;
    right: 100px;
    transition: right;
    transition-duration: 2s;
    z-index: -1;
}


#UCL1{
    position: absolute;
    height: 100px;
    width: 150px;
    top: 325px;
    right: 100px;
    transition: right;
    transition-duration: 2s;
    z-index: -1;
}
#Maki{
    position: absolute;
    height: 100px;
    width: 150px;
    top: 500px;
    right: 100px;
    transition: right;
    transition-duration: 2s;
    z-index: -1;
}

#SQL{
    position: absolute;
    height: 100px;
    width: 150px;
    top: 850px;
    right: 100px;
    transition: right;
    transition-duration: 2s;
    z-index: -1;
}

.Images{
    z-index: -1;
}

.ProjectTab{
    border: 10px;
    border-color: white;
}

#Contact_page{
    display: flex;
    
}

#details{
    text-align: right;
    box-sizing: border-box;
    float: right;
    margin-left: auto;
}

#details a{
    text-decoration: underline;
}